%p#notice= notice
%h4 Replies
%table
  %thead
    %tr
      %th Reply
      %th Author
      %th{:colspan => "3"}
  %tbody
    - replies.each do |reply|
      %tr
        %td= reply.body
        %td= User.find(reply.user_id).email
%br/
